* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
  padding: 50px calc(50% - 400px);
  min-width: 400px;
}

.slider {
  padding: 40px 80px;
  border: 1px solid black;
}

.item-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}