* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
  padding: 50px calc(50% - 400px);
  min-width: 400px;
  background-color: #f0f0f3;
}

.slider {
  padding: 40px 80px;
  border-radius: 50px;
  box-shadow: 10px 10px 21px #d3d3d6, -10px -10px 21px #fff;
  position: relative;
}

.item-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 8px 5px -4px rgba(34, 60, 80, 0.6);
  position: relative;
}

.item::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: -20px;
  border-radius: 5px;
  background-color: transparent;
  transition-property: all;
  transition: .3s
}

.item:hover::after {
  background-color: #5F6366;
  transform: scale(1.4);
}

.one {
  background-color: #F78888;
}

.two {
  background-color: #F3D250;
}

.three {
  background-color: #FBE8A6;
}

.four {
  background-color: #90CCF4;
}

.five {
  background-color: #5DA2D5;
}

.number {
  font-size: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.navigation {
  display: flex;
  justify-content: space-around;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 0 15px;
}

.arrow:first-child {
  left: 0;
}

.arrow:last-child {
  right: 0;
}

.arrow-move {
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
}

.arrow-move div {
  position: relative;
  top: 20px;
  height: 10px;
  background-color: #5F6366;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  right: 6px;
  display: block;
}

.arrow-move-left div {
  right: -6px;
}

.arrow-move div::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  top: -11px;
  right: -8px;
  background-color: #5F6366;
  transform: rotate(45deg);
}

.arrow-move-left div::after {
  top: 11px;
  right: 18px;
}

.arrow-move div::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  top: 11px;
  right: -8px;
  background-color: #5F6366;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(-45deg);
}

.arrow-move-left div::before {
  top: -11px;
  right: 18px;
  box-shadow: none;
}

.arrow-move:hover {
  animation: arrow-right 1s linear infinite;
}

.arrow-move-left:hover {
  animation: arrow-left 1s linear infinite;
}

@keyframes arrow-right {
  0% {
    left: 0;
  }

  50% {
    left: 10px;
  }

  100% {
    left: 0;
  }
}

@keyframes arrow-left {
  0% {
    left: 0px;
  }

  50% {
    left: -10px;
  }

  100% {
    left: 0px;
  }
}

